.movieList {
    margin: 20px;
}

.movieList__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movieList__nav--btns {
    margin-top: 70px;
    cursor: pointer;
}

.movieList__nav > button {
    width: 92px;
    height: 42px;
    background-color: #FFF;
    border-radius: 10px;
}

#tag {
    font-size: 12px;
    font-weight: 700;
}

#desc {
    font-size: 12px;
}

.movieList__selection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .movieList__nav--btns {
        margin-top: 60px;
    }

    .movieList__nav > button {
        width: 80px; 
        height: 36px; 
    }

    #tag,
    #desc {
        font-size: 10px; 
    }

    .movieList__selection {
        gap: 10px;
    }
}