.movieCard {
    display: flex;
    margin-bottom: 30px;
    max-width: 440px;
    flex-direction: column;
}

.movieCard > img {
    object-fit: cover;
    width: 440px;
    height: 350px;
    cursor: pointer;
}

.movieCard__text {
    text-align: left;
}

.movieCard__text > h3 {
    margin-top: 10px;
    font-size: 12px;
}

.movieCard__text > p {
    margin-bottom: 10px;
}

#lang {
    font-size: 12px;
}

#price {
    font-weight: 600;
}