  .modal__content {
    margin: 0;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .modal__title {
    width: 40%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__seats {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .modal__content > h3{
    color: rgb(16, 254, 16);
    font-size: 50px;
  }

  @media (max-width: 600px) {
    .modal__content {
      max-width: 100%;
      max-height: 100%;
    }
  }
  

  @media only screen and (min-width: 350px) and (max-width: 450px) {
    .modal__content {
      max-width: 80%; 
      max-height: 80vh; 
    }
  
    .modal__title,
    .modal__seats {
      width: 85%; 
    }
  }