.dashboard {
    display: flex;
    background: url("https://img.freepik.com/premium-vector/abstract-smooth-blur-purple-gradient-background-website-banner-paper-card-decorative-design_120819-485.jpg") center no-repeat;
    background-size: cover;
}