.seatsPage {
    display: flex;
}

.seatsPage__sidebar {
    flex: 0.2;
}

.seatsPage__main {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-left: 2px solid #000;
}

.seatsPage__seatGrid {
    display: flex;
    flex-direction: row;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    margin-right: 15px;
    cursor: pointer;
    border: none;
}

.seat:hover {
    background-color: rgb(55, 255, 0);
}

.seat.selected {
    background-color: rgb(55, 255, 0);
}

.seat.unavailable {
    background-color: rgb(246, 109, 5);
    cursor: not-allowed;
}

.booking__summary {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.booking__summary > button {
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.booking__summary > button:hover {
    background-color: rgb(55, 255, 0);
}

.selected__screen {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.selected__seats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

