.screen {
    display: flex;
}

.screen__sidebar {
    flex: 0.2;
}

.screen__screenSlot {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-left: 2px solid #000;
}

.screenSlot__btns {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 20px;
}

.screenSlot__btns > button {
    width: 100px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.screenSlot__btns > button:hover {
    background-color: rgb(55, 255, 0);
}

.btns.active {
    background-color: rgb(55, 255, 0);
}

.screenSlot__text {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 330px;
    margin-bottom: 200px;
}


@media only screen and (min-width: 350px) and (max-width: 450px) {
    .screenSlot__btns {
        max-width: 80%; 
        justify-content: center; 
    }

    .screenSlot__btns > button {
        width: 80px; 
    }

    .screenSlot__text {
        margin-right: 10px; 
        margin-bottom: 20px; 
    }
}

@media only screen and (min-width: 451px) and (max-width: 800px) {
    .screenSlot__btns {
        max-width: 80%; 
        justify-content: center; 
    }

    .screenSlot__btns > button {
        width: 80px; 
    }

    .screenSlot__text {
        margin-right: 10px; 
        margin-bottom: 20px; 
    }
}