.wrapper {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  border-left: 2px solid #000;
}

.grid {
  display: grid;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  gap: 20px;
  border: none;
  background-color: #fff;
}

.cell {
  background-color: lightgray;
  border: none;
  height: 0;
  padding-bottom: 100%;
}

.cell-activated {
  background-color: rgb(76, 249, 8);
}

.booking {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 300px;
}

.booking__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.booking__btn {
    background-color: #fff;
    padding: 10px;
}

.booking__btn:hover {
    background-color: #000;
    color: #fff;
}



