.sidebar {
    flex: 0.2;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 250px;
}

#title {
    margin-right: 80px;
    font-size: 20px;
}

.sidebar > button {
    height: 25px;
    padding: 2px;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: #FFF;
    border: 1px solid #000;
    width: 80%;
}

.sidebar > button:hover {
    background-color: #000;
    color: #FFF;
}

.sidebar > button.active {
    background-color: #000;
    color: #FFF;
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
    .sidebar {
        margin-top: 170px;
    }

    #title {
        margin-right: 0;
        font-size: 10px;
    }

    .sidebar > button {
        width: 90%;
    }
}


@media only screen and (min-width: 451px) and (max-width: 800px) {
    .sidebar {
        margin-top: 170px;
    }

    #title {
        margin-right: 0;
        font-size: 14px;
    }

    .sidebar > button {
        width: 90%;
    }
}